<html>
<head>
  <style>
    .fishes
    {
      position: relative;
      top: 0;
      left: 0;
    }
    .fish
    {
      position: absolute;
      top: -20px;
      left: 80px;
    }
  </style>
</head>
<body>
  <div style="position: relative; left: 0; top: 0;">
<div class = "container" style = "margin-top: 10%"  id= "youtube_frame" >
<div  class="elfsight-app-387ab003-542a-4beb-aaa0-0d17937f228c">
</div>
<div class = "fishes" >
   <%= image_tag("radio.jpg", width: "550", height: "350", alt: "Edit Entry") %> 
</div>
<div ="fish" style="margin-top: -29%;position: absolute; margin-left: 35%; */">
    <iframe src="https://cdn.voscast.com/player/player.php?host=s8.voscast.com&amp;port=8106" scrolling="no" width="150" height="30" frameborder="0"></iframe>
</div>
  </div>
</body>
<script src="https://apps.elfsight.com/p/platform.js" data-turbolinks-permanent style= "z-index: unset;">


</script>
</html>

