<html>
<head>
    <div class= "d-flex justify-content-center">
<div class=  "social-share-button mb-5">
           <h2 style= "color:white"> Comparte nuestro contenido en todas las redes sociales  </h2>
    <h3 style= "color:white"> con solo un click ! </h3>
    <a href=""><%= image_tag("https://cdn0.iconfinder.com/data/icons/social-network-7/50/5-512.png", class:" share-button ssb-icon") %></a>
    <%= rails_social_share_button_tag('Orientacion Familiar TV y Radio ' + request.original_url, url: request.original_url, desc: "Orientacion Familiar Una Guia Para El Hogar; TV, Radio, Reflexiones, Dr Jose Gil Abreu") %>
</div>
    </div>

</head>
     
   
<body style = "color:white">
<div style="position: relative; left: 0; top: 0;">
<div class = "container" style = "margin-top: 10%"  id= "youtube_frame" >
    <h1> Orientacion Familiar TV !</h1>


<div  class="elfsight-app-387ab003-542a-4beb-aaa0-0d17937f228c">
</div>
<h3 > Escucha nuestra transmision en vivo en los horarios 7-8:00 am y 7-8:00 pm en la honda radial Esperanza de vida 99.1 FM</h3>
        <div>
            <%= image_tag("radio.jpg", alt: "Edit Entry", class:" col-sm-6") %>
            <div >
            <iframe src="https://cdn.voscast.com/player/player.php?host=s8.voscast.com&amp;port=8106" scrolling="no" width="150" height="30" frameborder="0" style="position:relative; display:inline-block; border-radius: 20px;"></iframe>
            </div>
         </div>

</div>
</body>
<script src="https://apps.elfsight.com/p/platform.js" data-turbolinks-permanent>
</script>
</div>
</html>


<script>
setTimeout(function(){

youtube_frame.children[2].childNodes[3].childNodes[3].style.zIndex = 0;
youtube_frame.children[2].childNodes[2].childNodes[3].style.zIndex = 0;
}, 5000);
</script>

<script>


  const shareButton = document.querySelector('.share-button');

  shareButton.addEventListener('click', event => {
    if (navigator.share) { 
     navigator.share({
        title: 'Orientacion Familiar una Guia para el Hogar TV, RADIO, AUDIOS , Terapia familiar, individual y mas',
        url: '<%= request.original_url %>' 
      }).then(() => {
        console.log('Thanks for sharing!');
      })
      .catch(console.error);
      } else {

      }
  });

</script>
</body>

