<h1 style = "color:white" >Recursos</h1>





<div class= "share_container">
  <h1> Amazing Content </h1>
  <p> Loren ipsum dolor</p>
  <button id= "share_button"  style= "width:50px; height: 50px">Share thid story</button>
</div>

<div class= "overlay"></div>
<div class= "share">
  <h2> Share now</h2>
  <button>Social Link</button>
  <button>Social Link</button>
  <button>Social Link</button>
</div>


<script>

const shareButton = document.querySelector('share_button');
const overlay = document.querySelector('.overlay');
const shareModal = document.querySelector('.share');

const title = window.document.title;
const url = window.document.location.href;

// Must be triggered some kind of "user activation"
shareButton.addEventListener('click', async () => {
      if (navigator.share) {
          navigator.share({
            title: ${title},
            url: ${url}      
          }).then (() => {
              console.log("Thanks for sharing");
          })
          .catch(console.error);
      } else {
          overlay.classList.add('show-share');
          shareModal.classList.add('show-share');

      }
})

overlay.addEventListener('click', () => {
  overlay.classList.remove('show-share');
   shareModal.classList.remove('show-share');
})
</script>
