
<html>
<head></head>
<h1 style = "color:white" >Recursos</h1>
<head>
<style>
</style>
  </head>

  <body>

  <button class="share-button  ssb-icon" type="button" title=" ">
    <svg>
      <use ><%= image_tag("http://aux2.iconspalace.com/uploads/sharethis-icon-256-1927422772.png") %></use>
    </svg>
    <span>Share</span>
  </button>



<script>


  const shareButton = document.querySelector('.share-button');

  shareButton.addEventListener('click', event => {
    if (navigator.share) { 
     navigator.share({
        title: 'Orientacion Familiar una Guia para el Hogar',
        url: '<%= request.original_url %>'
      }).then(() => {
        console.log('Thanks for sharing!');
      })
      .catch(console.error);
      } else {

      }
  });

</script>


</body>


 

</html>