/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
@import "bootstrap";
@import "rails-social-share-button";



.icon{
    width:350px;
    margin-right: 45%;
    
}

.img{
width: 100%;
max-height: 550px;
} 




.front_video{
	width: 100%;
	height: auto;
	margin-top: 10%;
}



.team_photo{
	width:	65%;
	height: 60%;
	border-radius: 21px;
}


h1,
.navbar-brand,
.navbar-nav a {
  font-family: "Times New Roman", Times, serif;
  font-size: 19px ;
  bold: 10px;

}


body{
	background-color: white;
}

ytp-chrome-top, ytp-show-cards-title{
	display:none;
}


#services_2 {
    background-color: lightgray;
    padding: 40px;
}

.indent_1000 {
    max-width: 1000px;
    margin: 0 auto;
}

.testimonial-thumb img {
    max-width: auto;
}

.testimonial-thumb img {
    border-radius: 410px;
    border: 5px 
}

.testimonial-title {
    font-size: 18px;
    /*   margin: 1rem 0; */
    text-transform: normal;
    color:white;
}

@media screen and (max-width: 1099px) {
    .indent_1000 {
        margin: 0;
        padding: 0 4rem;
    }
} 

@media screen and (max-width: 320px) {
    .indent_1000 {
        margin: 0 2rem;
    }
}

.testimonial-thumb{
    width:80%;
    margin-left:-5px;
    border-radius:50px;
  }


$size: 75px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
  
}


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(170,170,170,0.4);
}

.hovereffect h2, .hovereffect img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.hovereffect:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  height: 85%;
  width: 85%;
  position: absolute;
  top: -20%;
  left: 8%;
  padding: 70px;
}

.text-footer{
  color:white
}



nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe {border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/