<div class=  "social-share-button">
    <%= rails_social_share_button_tag( request.original_url + " " + 'Audio podcasts', url: request.original_url, desc: " Escucha nuestros Audios y podcasts de Orientacion Familiar Una Guia Para El Hogar; TV, Radio, Reflexiones, Dr Jose Gil Abreu") %>
</div>
<h1 style= "color:white">Seleccione de la lista para reproducir </h1>
<div class="container">
  <div class= "row">
  <% @uploads.each do |upload| %>
    <div class="col-sm-3 col-md-3">
              <%= link_to(image_tag("https://cdn.martinbaileyphotography.com/wp-content/uploads/2019/08/MBP_Podcast_20190718_MR27892.jpg" , style:"border-radius:50px; height:150px; margin-top:20%; position:flex; "), upload)  %>
	              
              <%= link_to upload.title ,upload, {:style=>'color:#FFFFFF; display: block;font-weight: 895;'} %>
              
    </div>
     <% end %>
  </div>
 

  </div>
  </br>
  <% if current_user && current_user.admin? %>
  <%= link_to 'Nueva Grabacion o Postcast',  new_upload_path %>
  <% end %>



