<div class= "d-flex justify-content-center">
<div class=  "social-share-button">
<%= rails_social_share_button_tag(@upload.url ,  url: @upload.url  , desc: @upload.title+" Audio reflexion") %>
</div>
</div>
<h1>Orientacion Familiar Podcasts</h1>
<html>
<head>
	<p>	<%= @upload.title %></p>
	<title>Audio Player</title>
</head>
<body>
</body>
</html>
<audio controls="controls">
	<source src= '<%= @upload.url %>' type="audio/mpeg">
	<source src="music.ogg" type="audio/ogg">
</audio>
</html>
