<h1>Playing Audio</h1>
<html>
<head>
	<title>Audio Player</title>
</head>
<body>
</body>
</html>
<audio controls="controls">
	<source src="#{@upload.url}" type="audio/mpeg">
	<source src="music.ogg" type="audio/ogg">
</audio>
</html>
