<div class= "d-flex justify-content-center">
<div class=  "social-share-button">
    <%= rails_social_share_button_tag(request.original_url + "  " + @upload.title , url: request.original_url + "  " + @upload.title, desc: "Orientacion Familiar Una Guia Para El Hogar; TV, Radio, Reflexiones, Dr Jose Gil Abreu") %>
</div>
</div>
</div>
<h1>Orientacion Familiar Podcasts</h1>
<html>
<head>
	<p>	<%= @upload.title %></p>
	<title>Audio Player</title>
</head>
<body>
</body>
</html>
<audio controls="controls">
	<source src= '<%= @upload.url %>' type="audio/mpeg">
	<source src="music.ogg" type="audio/ogg">
</audio>
</html>
